<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.reservation.mapper.OrderRecordMapper">

    <resultMap id="BaseResultMap" type="com.yjjk.reservation.entity.OrderRecord">
        <id column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="order_date" property="orderDate" jdbcType="VARCHAR"/>
        <result column="times_id" property="timesId" jdbcType="INTEGER"/>
        <result column="room_id" property="roomId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="theme" property="theme" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>

        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getOrderRecords" resultMap="BaseResultMap" parameterType="com.yjjk.reservation.entity.OrderRecord">
        select ycro.order_id, ycro.order_date, ycro.times_id, ycro.room_id, ycro.user_id, ycro.user_name, ycro.theme,
        ycro.create_time, ycro.status, yui.phone
        from yj_conference_room_order ycro
        left join yj_user_info yui on ycro.user_id = yui.user_id
        where (ycro.status = 0 or ycro.status = 3)
        <if test="orderId != null ">
            and ycro.order_id = #{orderId,jdbcType=INTEGER}
        </if>
        <if test="orderDate != null and orderDate != '' ">
            and ycro.order_date = #{orderDate,jdbcType=VARCHAR}
        </if>
        <if test="timesId != null ">
            and ycro.times_id = #{timesId,jdbcType=INTEGER}
        </if>
        <if test="roomId != null ">
            and ycro.room_id = #{roomId,jdbcType=INTEGER}
        </if>
        <if test="userId != null ">
            and ycro.user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="userName != null and userName != '' ">
            and ycro.user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="theme != null and theme != '' ">
            and ycro.theme = #{theme,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != '' ">
            and ycro.create_time = #{createTime,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and ycro.status = #{status,jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectHistory" resultMap="BaseResultMap" parameterType="Map">
        select ycro.order_id, ycro.order_date, ycro.times_id, ycro.room_id, ycro.theme, ycro.user_id, ycro.user_name,
        jcri.name, jcri.path, jcri.city, jcri.province, ycrt.start_time, ycrt.end_time, ycro.create_time, ycro.status
        from yj_conference_room_order ycro
        left join yj_user_info yui on yui.user_id = ycro.user_id
        left join yj_conference_room_info jcri on ycro.room_id = jcri.room_id
        left join yj_conference_room_times ycrt on ycrt.times_id = ycro.times_id
        where
        <trim prefixOverrides="AND">
            <if test="openId != null and openId != '' ">
                and yui.open_id = #{openId,jdbcType=VARCHAR}
            </if>
            <if test="unionId!=null and unionId!=''">
                and yui.union_id = #{unionId,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name != '' ">
                and yui.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone != null ">
                and yui.phone = #{phone,jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and ycro.status = #{status,jdbcType=INTEGER}
            </if>
        </trim>
        order by ycro.order_id;
    </select>

    <select id="selectByTimesIds" parameterType="com.yjjk.reservation.entity.OrderRecord" resultType="Integer">
        select count(1)
        from yj_conference_room_order
        where status=0
        <if test="orderDate != null and orderDate != '' ">
            and order_date=#{orderDate,jdbcType=VARCHAR}
        </if>
        <if test="roomId != null ">
            and room_id = #{roomId,jdbcType=INTEGER}
        </if>
        <if test="timesIds != null and timesIds != '' ">
            and times_id in
            <foreach collection="timesIds" index="index" item="item" open="(" separator="," close=")">
                #{item, jdbcType=INTEGER}
            </foreach>
        </if>
    </select>

    <select id="getRecords2Excel" resultType="com.yjjk.reservation.entity.OrderRecords2Excel">
        SELECT order_date as orderDate, CONCAT(ycrt.start_time,'~',ycrt.end_time) AS times, ycri.`name` as roomName, ycro.`user_name` as userName, ycro.`theme`, ycro.`status`, yci.`name` AS orderUser, ycro.`create_time` as createTime
        FROM yj_conference_room_order ycro
        LEFT JOIN `yj_user_info` yci ON ycro.`user_id` = yci.`user_id`
        LEFT JOIN `yj_conference_room_info` ycri ON ycro.`room_id` = ycri.`room_id`
        LEFT JOIN `yj_conference_room_times` ycrt ON ycro.`times_id` = ycrt.`times_id`
        WHERE ycro.`status` != 3
        ORDER BY ycro.`status`, ycro.`create_time` DESC
    </select>
    <insert id="insertSelective" parameterType="com.yjjk.reservation.entity.OrderRecord">
        insert into yj_conference_room_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">
                order_id,
            </if>
            <if test="orderDate != null and orderDate != '' ">
                order_date,
            </if>
            <if test="timesId != null ">
                times_id,
            </if>
            <if test="roomId != null ">
                room_id,
            </if>
            <if test="userId != null ">
                user_id,
            </if>
            <if test="userName != null and userName != '' ">
                user_name,
            </if>
            <if test="theme != null and theme != '' ">
                theme,
            </if>
            <if test="createTime != null and createTime != '' ">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="orderDate != null and orderDate != '' ">
                #{orderDate,jdbcType=VARCHAR},
            </if>
            <if test="timesId != null">
                #{timesId,jdbcType=INTEGER},
            </if>
            <if test="roomId != null ">
                #{roomId,jdbcType=INTEGER},
            </if>
            <if test="userId != null ">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="userName != null and userName != '' ">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="theme != null and theme != '' ">
                #{theme,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != '' ">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="cancelOrder" parameterType="com.yjjk.reservation.entity.OrderRecord">
        update yj_conference_room_order
        set status = 2
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="orderId != null">
                and order_id=#{orderId,jdbcType=INTEGER}
            </if>
            <if test="orderDate != null and orderDate != '' ">
                and order_date=#{orderDate,jdbcType=VARCHAR}
            </if>
            <if test="timesId != null ">
                and times_id=#{timesId,jdbcType=INTEGER}
            </if>
            <if test="roomId != null">
                and room_id=#{roomId,jdbcType=INTEGER}
            </if>
            <if test="userId != null ">
                and user_id=#{userId,jdbcType=INTEGER}
            </if>
            <if test="userName != null and userName != '' ">
                and user_name=#{userName,jdbcType=VARCHAR}
            </if>
            <if test="theme != null and theme != '' ">
                and theme=#{theme,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != '' ">
                and create_time=#{createTime,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status=#{status,jdbcType=INTEGER}
            </if>
        </trim>
    </update>
    <update id="cancelOrderTask" parameterType="com.yjjk.reservation.entity.OrderRecord">
        update yj_conference_room_order ycro
        set status = 1
        where CONCAT(order_date,' ',(SELECT ycrt.start_time FROM `yj_conference_room_times` ycrt WHERE ycro.`times_id` = ycrt.times_id)) &lt;= #{localTime,jdbcType=VARCHAR} and status = 0;
    </update>
</mapper>

