<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.reservation.mapper.TimesMapper">

    <resultMap id="BaseResultMap" type="com.yjjk.reservation.entity.Times">
        <id column="times_id" property="timesId" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getTimesList" resultMap="BaseResultMap">
        select times_id, start_time, end_time from yj_conference_room_times ;
    </select>
</mapper>

